#https://en.ikoula.wiki/en/Configure_a_Proxy_HA_on_Cloudstack
global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout {{ haproxy_http_stats_timeout }}
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option  redispatch
        maxconn {{ haproxy_http_maxconn }}
        timeout connect      {{ haproxy_http_timeout_connect }}
	timeout queue        {{ haproxy_http_timeout_queue }}
        timeout client       {{ haproxy_http_timeout_client }}
        timeout server       {{ haproxy_http_timeout_server }}

frontend webfarm 
        bind *:80
        mode http
        stats enable
        stats auth {{ haproxy_admin_user }}:{{ haproxy_admin_pwd }}
        default_backend bk_webservers

backend bk_webservers
        mode    http
        option  httplog
        balance roundrobin
        stick-table type string len 32 size 10K
        stick store-response set-cookie(PHPSESSID)
        stick on cookie(PHPSESSID)
        option httpclose
        option forwardfor
        option httpchk HEAD /check.txt HTTP/1.0
 
        # acl white_list src IP1 IP2
        # acl restricted_page path_beg /images
	    # http-request allow if restricted_page
    	# http-request allow if white_list
        # http-request deny

        # acl restricted_page path_beg /images
        # allow if restricted_page !white_list
	      
    {% for host in groups['web'] %}
        server {{ hostvars[host].inventory_hostname }} {{ hostvars[host].ansible_ssh_host }}:80 cookie {{ hostvars[host].inventory_hostname }} check
    {% endfor %}
       